.navbar-inverse{
    background-color: #3e936a;
    border-radius: 0px;
    border: none;
}

.navbar-header a img{
    height: 50px;
    width: 50px;
    margin-right: 45%;
}

footer .navbar-inverse{
    background-color: #222;
    border-radius: 0px;
    border: none;
}

.panel-default > .panel-heading {
    height: auto;
    color: white;
    background-color: #3e936a;
    border-color: #3e936a;
}

.h2, h2{
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

div .input-group{
    width: 80%;
    margin: auto;
}

input#send{
    background-color: #3e936a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}


.block-center{
    margin: auto;
    width: 30%;
}

nav ul{
    list-style-type: none;
}

.form-control{
    height: auto;
}






